@charset "UTF-8";

body{
    font-family: sans-serif;
    background-color:black;
    color: white;
    margin: 0;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    background-image: url(../images/gtaultrraa.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}



.main{
    width: 50%;
    margin: auto;
}    



/* main{
    width: 100%;
    max-width: 800%;
    text-align: leftha;
} */

.hero-image{
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    /* height: auto; */
    border-radius: 25px;
    margin-bottom: 10px;
    
    
    
}

/* p{
    width: 70%;
    align-items: center;
    
} */